name: Deploy prod

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: checkout repo
        uses: actions/checkout@v3
      - name: application.properties
        run: cp /home/domix/actions-runner/configs/application.properties /home/domix/actions-runner/_work/domix/domix/src/main/resources/
      - name: Stop
        run: docker compose down
      - name: docker compose
        run: docker compose up -d --no-deps --build domix-back
