name: Deploy prod

on:
  push:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v3
      - name: set up Java and Maven
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'
      - name: run tests
        run: mvn test
  deploy:
    runs-on: self-hosted
    needs: test
    steps:
      - name: checkout repo
        uses: actions/checkout@v3
      - name: application.properties
        run: cp /home/wilidon/actions-runner/application.properties /home/wilidon/actions-runner/_work/domix/domix/src/main/resources/
      - name: Stop
        run: docker-compose down
      - name: docker-compose
        run: docker compose up -d --no-deps --build domix-back
